@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Cormorant Upright';
    src: url('./fonts/CormorantUpright-Regular.ttf');
}
:root {
    --primary-light: rgba(249, 250, 251, 1);
    --primary-dark: rgba(0,0,0, 0.75);
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1rem, calc(.5em + 0.5vw), 1.75rem);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./images/satterfields.png);
    background-attachment: fixed;
    background-size: cover;
}
#content {
    display: flex;
    flex-direction: column;
}
#header {
    height: 10rem;
    width: 100%;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    display: flex;
    justify-content: center;
}
#header > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#header > div > h1 {
    cursor: default;
    margin: 1rem 0;
    font-family: 'Cormorant Upright', serif;
    font-size: 5rem;
    align-self: flex-end;
    grid-column: 1 / 4;
}
.tab {
    cursor: pointer;
    font-weight: 300;
    justify-self: center;

}
.active {
    transform: scale(1.1);
    font-weight: 700;
    transition: 5ms;
}
#homeTab {
    grid-row: 2 / 3;
    grid-column: -4 / -3;
}
#menuTab {
    grid-row: 2 / 3;
    grid-column: -3 / -2;
}
#contactTab {
    grid-row: -2 / -1;
    grid-column: -2 / -1;
}
#main {
    max-height: 50rem;
    max-width: 35rem;
    margin: 5rem 0;
    border-radius: 1rem;
    padding: 3rem 10rem;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    align-self: center;
}
#home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#home > p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: center;
    white-space: pre;
}
#home > img {
    width: 23rem;
    height: 22rem;
    border-radius: 50%;
}
#menu > img {
    width: 35rem;
    height: 50rem;
}
#contact > form {
    font-size: 1.25rem;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 4fr 0.5fr;
    column-gap: 2rem;
    row-gap: 2.5rem;
}
form > legend {
    font-size: 1.75rem;
    grid-column: 1 / 3;
}
form > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
#name,
#email {
    height: 1.5rem;
    padding: .5rem;
    background-color: var(--primary-light);
    border: none;
    border-radius: 0.25rem;
    font-family: 'Roboto', sans-serif;
}
form > div:nth-child(4) {
    width: 25rem;
    grid-column: 1 / 3;
}
#message {
    height: 15rem;
    padding: .5rem;
    background-color: var(--primary-light);
    border: none;
    border-radius: 0.25rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#submit {
    cursor: pointer;
    width: 10rem;
    background-color: var(--primary-light);
    border: none;
    border-radius: .5rem;
    color: var(--primary-dark);
    font-size: 1.25rem;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    justify-self: center;
}
#footer {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--primary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
#footer > p {
    color: var(--primary-light);
    font-weight: 300;
}